.user-card{
    border:1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    max-width: 300px;
}

.user-card button{
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.user-card img{
    height:100px;
    width: 100px;
    border-radius: 10px;
}

.user-card h3{
    margin-top: 10px 0;
    font-size: 1.5em;
}